<h3>{{page_title}}</h3>

{{#if session.isAuthenticated}}
Logged in as {{session.currentUser.displayName}}<br><br>

<ul class="post-publish">
	<li> {{input value=credit placeholder="credit here"}} </li>
	<li> <button {{action "insert_stat"}}>insert credit</button> </li>
</ul>
{{else}}
	Not logged in<br>
{{/if}}

Stats:
<section>
{{#each model as |user|}}
<div>
	<div>
		User user: {{user.email}}, credits: {{user.credit}}
	</div>
</div>
{{/each}}
</section>